{% extends "layout.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
{{ super() }}
 - New Ticket
{% endblock %}

{% block content %}
{{ super() }}
<div class="container">
    <form method="POST" action="/ticket_created">
        {{ form.csrf_token }}
        {{ wtf.form_field(form.title) }}
        {{ wtf.form_field(form.description) }}
        {{ wtf.form_field(form.workstation) }}
        <input class="btn btn-primary" type="submit" value="submit">
    </form>
</div>
{% endblock %}